# Environment variables
PORT=4000
NODE_ENV=development

# Firebase Admin SDK
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=

# Firebase Client SDK
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=

# Telegram Bot
TELEGRAM_BOT_TOKEN=

# Security
TOKEN_SECRET=

# CORS
ALLOWED_ORIGINS=https://nfttoys.shop,http://localhost:3000
